body {
  background-color: black;
  font-family: "Lucida Console", "Courier New", sans-serif;
  color: white;
}

input[type=text] {
  background-color: #2b312f;
  color: white;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: crimson;
  background-color: transparent;
  text-decoration: none;
}

#Dimension-ul {
  color: silver;
  background-color: transparent;
  text-decoration: none;
}