body {
  background-color: black;
  font-family: "Lucida Console", "Courier New", sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
}

input[type=text] {
  background-color: #2b312f;
  color: white;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: crimson;
  background-color: transparent;
  text-decoration: none;
}

#Dimension-ul {
  color: silver;
  background-color: transparent;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b312f;
}

#navlist {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #2b312f;
}

li {
  display: flex;
  margin: 10px;
}

#head {
  display: flex;
  background-color: #2b312f;
  justify-content: center;
  margin: 0;
  padding: 15px;
  padding-bottom: 0;
}

#atas {
  background-color: #2b312f;
}

#specpic {
  display: flex;
}

#login {
  margin-left: 20%;
}

#Spectre {
  padding-left: 43%;
}

#tepi {
  padding-left: 32%;
}